@model KeyValuePair<User, IEnumerable<Purchase>>;
@{
    Layout = "_Layout";

    var u = Model.Key;
    var h = Model.Value;

    
}

<h1>@u.firstName @u.lastName</h1>

<label>Username: @u.UserName</label>
<br>
<label>Account Type: @u.account_type</label>
<br />
<ul>
    @foreach (var p in h)
    {
    <li>Purchased @p.numtickets to @p.eventName, costing $@p.TotalCost.ToString("##########.00")</li>
    }
</ul>


